spring:
  datasource:
    url: jdbc:mysql://localhost:3306/finance_tracker_dev?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: user
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    dialect: org.hibernate.dialect.MySQL8Dialect
    format_sql: true
    use_sql_comments: true

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

jwt:
  secret: "6A576D5A7134743777217A25432A462D4A614E645267556B5870327235753878"
  expiration: 86400000  # 24 hours in milliseconds